@{
  Layout = "_Layout";
}
@model Salon.Models.Stylist
@using Salon.Models
<h1>Stylist Profile</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<h3>@Html.DisplayFor(model => model.DateOfHire)</h3>
<ul>
@if (@Model.Clients.Count == 0)
{
  <p>no items found</p>
}
@foreach (Client client in @Model.Clients)
{
  <li><h4>@Html.ActionLink($"{client.Name}", "Show", new { id = client.ClientId})</h4></li>
}
</ul>
<p>@Html.ActionLink("Back to Stylist", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>