{
  Layout = "_Layout";
}
@model Salon.Models.Client

<h1>Client Details:</h1>

@Html.DisplayFor(model => model.Name)
@Html.DisplayFor(model => model.Phone)
@Html.DisplayFor(model => model.MemberSince)
@Html.DisplayNameFor(model => model.Stylist): @Html.ActionLink($"{Model.Stylist.Name}", "Show", "Stylists", new{id = Model.StylistId})
